
{{#paper-card}}
  {{#paper-card-content class="comment-card"}}

    <div class="comment-details" layout="row" layout-align="space-between center">
      <strong>{{comment.author}}</strong>
      {{moment-from-now comment.timestamp}}
    </div>
    <div class="comment-content">
      {{comment.content}}
    </div>

    {{#if comment.edit_timestamp}}
      <small><em>Last edited {{moment-from-now comment.edit_timestamp}}</em></small>
    {{/if}}

    {{#if showEditCommentForm}}
      <div class="new-comment">
        {{paper-divider}}

        <div layout="row" layout-align="space-between center">
          <h3 class="new-comment-header">Edit Comment</h3>
          {{#paper-button icon-button=true action='hideEditCommentForm'}}{{paper-icon "close" size=1}}{{/paper-button}}
        </div>
        {{paper-input label="Content" value=content maxlength="100" maxlength-errortext="Enter 100 characters or less." key-down=(action "checkValidity")}}
        {{#if validInput}}
          {{#paper-button raised=true action="editComment" param=comment}}Edit Comment{{/paper-button}}
        {{else}}
          {{#paper-button raised=true disabled=true action="editComment" param=comment}}Edit Comment{{/paper-button}}
        {{/if}}
      </div>

      {{else}}
        <div class="md-actions" layout="row" layout-align="end center">
          {{#paper-button icon-button=true action='displayEditCommentForm' }}{{paper-icon "edit" size=2}}{{/paper-button}}
          {{#paper-button icon-button=true action='destroyComment' param=comment}}{{paper-icon "delete" size=2}}{{/paper-button}}
        </div>

    {{/if}}
    {{/paper-card-content}}
  {{/paper-card}}
