{{#if addNewComment}}
  <div class="new-comment">
    {{paper-divider}}

    <div layout="row" layout-align="space-between center">
      <h3 class="new-comment-header">New Comment</h3>
      {{#paper-button icon-button=true action='hideNewCommentForm'}}{{paper-icon "close" size=1}}{{/paper-button}}
    </div>
    {{paper-input label="Author" value=author required=true}}
    {{paper-input label="Content" required=true}}
    {{#paper-button raised=true action="saveComment"}}Save Comment{{/paper-button}}

  </div>

  {{else}}
  <div class="new-comment">
    <div class="md-actions" layout="row" layout-align="end center">
      {{#paper-button icon-button=true action='showNewCommentForm' }}{{paper-icon "comment" size=1}}{{paper-icon "add" size=1}}{{/paper-button}}
    </div>
  </div>
{{/if}}
