{{#paper-card}}
  {{#paper-card-content}}
    <h2>{{question.main_question}}</h2>
    <h3 class="question-tile-author"><small>{{question.author}} &bull; {{moment-from-now question.timestamp}}</small></h3>

  {{#if editQuestionForm}}
    <div class="new-question">
      {{paper-divider}}

      <div layout="row" layout-align="space-between center">
        <h3 class="new-question-header">Edit Comment</h3>
        {{#paper-button icon-button=true action="hideEditQuestionForm"}}{{paper-icon "close" size=1}}{{/paper-button}}
      </div>
      {{paper-input placeholder=question.main_question value=main_question}}
      {{paper-input placeholder=question.content value=content}}
      {{#paper-button raised=true action="editQuestion" param=question}}Edit Question{{/paper-button}}
    </div>

    {{else}}
      <div class="md-actions" layout="row" layout-align="space-between center">
        <div class="">
          <h3 class="question-tile-comment-total"><small>{{question.comments.length}} comments</small></h3>
        </div>
        <div class="post-buttons">
          {{#paper-button action="goToQuestion" param=question}}Read more...{{/paper-button}}
          {{#paper-button action="showEditQuestionForm" param=question}}{{paper-icon "edit" size=2}}{{/paper-button}}
          {{#paper-button action="deleteQuestion" param=question}}{{paper-icon "delete" size=2}}{{/paper-button}}
        </div>
      </div>
  {{/if}}
  {{/paper-card-content}}
{{/paper-card}}
