{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>{{#link-to 'index'}}NORTH WESTY{{/link-to}}</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="index"}}{{paper-icon "home" size="2" class="icon"}}<strong>HOME</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="about"}}{{paper-icon "help" size="2" class="icon"}}<strong>ABOUT</strong>{{/paper-item}}
        {{paper-divider}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="new-question"}}{{paper-icon "add-circle-outline" size="2" class="icon"}}<strong>NEW QUESTION</strong>{{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">For all your outdoorsy, north westy questions</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class="md-padding"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
