{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>{{#link-to 'index'}}NORTH WESTY{{/link-to}}</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="index"}}{{paper-icon "home" size="2" class="icon"}}<strong>HOME</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="backpacking"}}{{paper-icon "landscape" size="2" class="icon"}}<strong>BACKPACKING</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="camping"}}{{paper-icon "style" size="2" class="icon"}}<strong>CAMPING</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="hiking"}}{{paper-icon "nature-people" size="2" class="icon"}}<strong>HIKING</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="astronomy"}}{{paper-icon "star" size="2" class="icon"}}<strong>ASTRONOMY</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="plant-identification"}}{{paper-icon "filter-vintage" size="2" class="icon"}}<strong>PLANT IDENTIFICATION</strong>{{/paper-item}}
        {{#paper-item class="sidebar-buttons" action="transitionTo" param="bigfoot"}}{{paper-icon "favorite" size="2" class="icon"}}<strong>BIGFOOT</strong>{{/paper-item}}
        {{paper-divider}}
          {{#paper-item class="sidebar-buttons" action="transitionTo" param="admin"}}{{paper-icon "vpn-key" size="2" class="icon"}}<strong>ADMIN</strong>{{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">For all your outdoorsy, north westy questions</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class="md-padding"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
